# DB_URL follows the following scheme:
# postgresql+psycopg2://{user}:{password}@{host}:{port}/{dbname}
# if any of the below vars differ from your setup feel free to adjust them
# it's highly recommended to set a db password
DB_URL=postgresql+psycopg2://postgres:@localhost:5432/hardware_management

ADMIN_ROLE_NAME=admin

# OAUTH
REALM_NAME=YOUR_REALM_NAME
OAUTH_ISSUER=https://oauth.issuer.com
CLIENT_ID=YOUR_CLIENT_ID
CLIENT_SECRET=YOUR_CLIENT_SECRET
KEYCLOAK_ADMIN_USER=<your_admin_user>
KECYLOAK_ADMIN_PASSWORD=<your_admin_pass>
