# The values in this example are the same values as in the test realm.
# Before deploying, change them to reflect the values in your environment.

# DB_URL follows the following scheme:
# postgresql+psycopg2://{user}:{password}@{host}:{port}/{dbname}
# if any of the below vars differ from your setup feel free to adjust them
# it's highly recommended to set a db password
DB_URL=postgresql+psycopg2://postgres:@localhost:5432/hardware_management

ADMIN_ROLE_NAME=admin

# OAUTH
REALM_NAME=hm-test-realm
OAUTH_ISSUER=http://localhost:8080
CLIENT_ID=backend
CLIENT_SECRET=uAsKRNTZcxbY5WJU6XcSdMIUvWOfqzvV
KEYCLOAK_ADMIN_USER=admin
KECYLOAK_ADMIN_PASSWORD=admin
